{% extends 'base.html' %}
{% block title %}
  {{ pokemon|capfirst }}
{% endblock %}
{% block content %}
  <p>
    Has elegido el pokemon: <strong>{{ pokemon|capfirst }}</strong>
  </p>
  <h3>Detalles del pokemon:</h3>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Tipo:</strong> {{ pokemon.type }} <br />
    </li>
    <li class="list-group-item">
      <strong>Altura:</strong> {{ pokemon.height }} m <br />
    </li>
    <li class="list-group-item">
      <strong>Peso:</strong> {{ pokemon.weight }} kg <br />
    </li>
    <li class="list-group-item">
      <strong>Entrenador:</strong> {{ pokemon.trainer }} <br />
    </li>
  </ul>
{% endblock %}
