{% extends "base.html" %}
{% block title %}Ingreso al Sistema{% endblock title %}
{% block content %}
<center><h1>Ingreso al Sistema</h1><br></center>
<form method="post">
    {% csrf_token %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div>
                <label for="username">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" name="username"><br>
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password"><br>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <a href="{% url "pokedex:index" %}" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
</form>
{% endblock content %}